@import "megadraft/dist/css/megadraft.css";

body,
#root {
  height: 100%;
  background: #f0f2f5;
}

.ant-layout-header {
  height: 300px;
}

.entry-overview-content {
  margin-top: 10px;

  .vertical-timeline-element-content-container {
    cursor: pointer;
  }
}

.vertical-timeline-element-icon {
  display: grid;
}

#floating-action-button {
  width: 60px;
  height: 60px;
  font-size: 25px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
}

.back-to-overview-button {
  margin: 15px 0 0 40px;
}

.viewer-container {
  .viewer-meta-field {
    margin: 0 20px;
  }

  .meta-key {
    font-weight: bold;
  }

  .viewer {
    height: 80%;
    padding: 15px 20px;
  }
}

.editor-container,
.viewer-container {
  background: white;
  height: 100%;
  margin: 15px 40px 0 40px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 4px 4px 9px 3px lightgrey;

  .editor-heading,
  .viewer-heading {
    margin: 20px;
    border-bottom: solid 1px lightgrey;
  }

  .ant-form {
    display: flex;
  }

  .draft-wrapper {
    margin: 20px;
    height: 90%;
  }

  .draft-toolbar {
    margin-bottom: 0;
  }

  .editor {
    height: 80%;
    padding: 15px 75px;
  }

  .editor-public-switch {
    .ant-form-item-label {
      min-width: 80px;
    }
  }

  #save-button-row {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-right: 30px;
  }

  .ant-form-item {
    display: flex;
    margin-bottom: 10px;
    margin-left: 30px;

    .ant-form-item-label {
      width: 50px;
    }
  }

  .image-block {
    display: flex;
    flex-wrap: wrap;

    .add-image-entry {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 128px;
      height: 128px;
      background-color: lightgray;

      .anticon-plus-circle {
        font-size: x-large;
        color: grey;
      }
    }

    .ant-image {
      margin-right: 20px;
    }
  }
}
